@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    font-weight: 600;
}

header div {
    padding: 10px;
}

header div:nth-child(2) {
    text-align: center;
}

.dark-toggle {
    position: absolute;
    right: 10px;
    z-index: 1000;
}

main {
    padding-top: 60px;
}

form {
    margin-bottom: 10px;
}

#regist-box {
    display: flex;
    justify-content: space-between;
}

.btn-outline-success {
    margin-left: 10px;
    width: 20%;
}

.list-group {
    margin-bottom: 30px;
}

.progress {
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 15px 0;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    font-size: small;
}

/* 다크 모드 */
body[data-theme="dark-mode"] {
    background-color: #000000;
    color: #ffffff;
}


body[data-theme="dark-mode"] .btn-outline-success {
    background-color: #104d00;
    color: #ffffff;
}

body[data-theme="dark-mode"] .btn-outline-danger {
    background-color: #660000;
    color: #ffffff;
}

body[data-theme="dark-mode"] footer {
    background-color: #000000;
}
